<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>calculator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- type the following content inside <ion-content> tag -->
  <ion-list>
    <ion-item>
      <ion-label floating>Weight (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Height (cm)</ion-label>
      <ion-input type="number" [(ngModel)]="height"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block ion-button (click)="calculateBMI()">Calculate</button>
  </div>
  <ion-card *ngIf="bmiValue">
    <ion-card-header>
      BMI Calculation
    </ion-card-header>
    <ion-card-content>
      <p>Person: Weight {{this.weight}} kg, Height {{this.height}} cm</p>
      <p>BMI: {{bmiValue}}</p>
      <p><strong>You are {{bmiMessage}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>
